.header {
  background: #000000; 
  background: -moz-linear-gradient(top,  #000000 86%, #560d18 100%, #131313 100%, #560d18 100%); 
  background: -webkit-linear-gradient(top,  #000000 86%,#560d18 100%,#131313 100%,#560d18 100%); 
  background: linear-gradient(to bottom,  #000000 86%,#560d18 100%,#131313 100%,#560d18 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  max-height: 3em;
  min-height: 3em;
  color: #fff;   
}

.header h1 {
  font-size: 1.5em;
}